.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-jsonrpc/**
!node_modules/minimatch/**
!node_modules/semver/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**
!node_modules/tar/**
!node_modules/adm-zip/**
!node_modules/minipass/**
!node_modules/minizlib/**
!node_modules/yallist/**
!node_modules/chownr/**
!node_modules/fs-minipass/**
!node_modules/@isaacs/fs-minipass/**
!node_modules/mkdirp/**
grammar.pest
lang-info.md
test-lsp.js
debug-context.txt
*.vsix
